# --- Python / Jupyter ---
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/

# --- Node / Vite ---
viz/store-planogram/node_modules/
viz/store-planogram/dist/

# --- OS ---
.DS_Store

# --- Data ---
# data/01_raw/*.xlsx
# data/02_interim/*.xlsx
# data/03_processed/*.xlsx
# viz/store-planogram/public/data/assignment.json
